<div class="navbar navbar-fixed-top">	
	<div class="navbar-inner">
		<div class="container">			
			<a class="btn btn-navbar" data-toggle="collapse" data-target="nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>			
			</a>
			
			<%=link_to "VirtuStore", "/", :class => "brand"%>
			<div class ="nav-collapse">
				<ul class="nav">
				<li><%= link_to "Home", "/"%></li>
				<li class="divider-vertical"></li>
				<li><%=link_to "About", "#"%></li>
				<li><%=link_to "Contact", "#"%></li>
				</ul>
				<ul class="nav pull-right">
				<li><%=link_to "Sign-Up", "#"%></li>
				<li><%=link_to "Sign-In", "#"%></li>
				</ul>
			</div>
		</div>
	</div>

</div>

